
.head{
    background:black;
    color:white;
    padding-top:0.3px;
    padding-left:15px;
    padding-bottom:0.1px;
}
.head img{
    position:absolute;
    right:160px;
    width:100px;
    top:20px;
    
}
.head p{
    position :absolute;
    top:20px;
    right:30px;
    color:white;
    font-size:30px;
    cursor:pointer;
}

h2{
    font-size: 30px;
    position:absolute;
    left:50px;
    top:10px;
}
.AI{
    position :absolute;
    right:0px;
    top:130px;
    width:50%;
    height:80%;
}
.matter{
    position:absolute;
    left:40px;
}
h3{
    font-weight: 1000;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   

}
.matter p{
    font-weight:500;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
body{
    background:rgb(196, 196, 247);
}
.resources{
    position:absolute;
    top:1050px;
}
 a:visited{
    color:green;
}
a:hover {
    color: red;
    text-decoration: underline;
  }
  
  a:active {
    color: blue;
  }
.lai{
    position:absolute;
    top:1000px;
}
