*{
    margin: 0;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    list-style: none;
}
body{
   
    background-size: 1500px 800px;
    display:flex;
}
.content{
    
    margin-left: 280px;
    margin-right:30px;
    
}
.side{
    display: flex;
    box-shadow: 1px 0px 20px 12px rgba(0, 0, 0, 0.3); 
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width : 19%;
    background: linear-gradient(to bottom, #4d2052,#df88e7 );
    color: white;
    position: fixed;
}
.ques{
    color: rgb(2, 2, 2);
    font-family: 'Arbutus Slab', serif;
    font-size: 25px;
}
.side ul li{
    
    padding: 28px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.side ul li a{
    color:white;
    display: block;
}
.side ul li :hover{
    
    background: rgb(252, 198, 247);
    color: rgb(99, 0, 112);
}
.ima{
    margin-left: 10px;
    margin-top: 10px;
    position: fixed;
    top:0;
    left:0;
    width: 17%;
    height:170px;
}
.imag{
    height:250px;
    border-radius: 10px;
    box-shadow:1px 0px 20px 12px rgba(206, 201, 201, 0.4)  ;
}
.imag2{
    height:250px;
    width: 221px;
    border-radius: 10px;
    box-shadow:1px 0px 20px 12px rgba(206, 201, 201, 0.4)  ;
}
.content #heading{
    color: rgb(95, 37, 150);
    font-family: 'Arbutus Slab', serif;
    font-size: 20px;
}
.main{
    height: 87vh;
    width:150vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-left:310px;
    box-shadow:1px 0px 20px 12px rgba(117, 117, 117, 0.2) ;
    background: linear-gradient(to right, #5673db, #5ccf5e);
    border-radius: 10px;
}
.main button{
    padding: 12px 12px;
    margin: 0 8px;
}
.main #logo{
    position: absolute;
    top:10px;
    left : 10px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
}
.main #logo i{
    margin-right: 15px;
}
.right , .left{
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.left img{
    height: 280px;
    width: 75%;
    border-radius: 25px;
    box-shadow: 1px 0px 20px 12px rgba(202, 202, 202, 0.2);
    margin-bottom: 15px;
}
input[type="range"]{
    -webkit-appearance: none;
    width: 50%;
    outline:none;
    height: 2px;
    margin: 0 15px ;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background-color: rgb(235, 140, 16);
    border-radius: 50%;
    cursor: pointer;
}
.right input[type="range"]{
    width:50%;
}
.left .volume{
    position: absolute;
    bottom: 10%;
    left: 0;
    width : 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ffff;
}
.left .volume p{
    font-size: 15px;
}
.left .volume i{
    cursor: pointer;
    padding: 10px 10px;
    background: rgb(253, 200, 131);
}
.left .volume i:hover{
    background: rgba(131, 125, 125, 0.1);
}
.volume #volume_show{
    padding: 10px 10px;
    margin: 0 5px 0 0;
    background: rgba(245,245,245,0.2);
}
.right .middle{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.right .middle button{
    border: none;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    margin-top: 30px;
    font-size: 15px;
    color: #fff;
    transition: 0.5s;
    background: rgba(245,245,245,0.2);
}
.right #title{
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: capitalize;
    color: #ffff;
    font-size: 60px;
    font-stretch: ultra-expanded;
    font-family: 'Arbutus Slab', serif;
}
.right #artist{
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: capitalize;
    color: #ffff;
    font-size: 30px; 
    font-family: 'Arbutus Slab', serif;
}
.right .duration{
    position: absolute;
    bottom: 20%;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:20px;
    margin-top: 40px;
}
.right .duration p{
    color:#fff;
    font-size: 15px;
    margin-left: 20px;
}
.right #auto{
    font-size: 18px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 20px;
    border:none;
    padding: 10px 14px;
    color: #fff;
    background: rgba(245,245,245,0.2);
    outline: none;
    border-radius: 10px;
}
.right #auto i{
    margin-left: 8px;
}
#play{
    color: #fff;
    background: rgb(243, 183, 104);
}
.right button:hover{
    background: rgb(243, 183, 104);
}
.right .show_song_no{
    position: absolute;
    top:10px;
    right:10px;
    width:40px;
    font-size: 18px;
    height:25px;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    color: #fff;
    border-radius: 5px;
    background: rgba(255,255,255,0.3);
}
.right .show_song_no p:nth-child(2){
    margin: 0 5px;
}